@{
    Layout = "_Layout";
}

<style>
    .sticky-container {
        width: 550px;
        height: 580px;
        background-color: #f8f9fa;
        padding: 25px;
    }

    .chart-container {
        width: 550px;
        height: 580px;
        background-color: #f8f9fa;
        padding: 25px;
    }
</style>

<div style="display: flex; justify-content:space-around;">
    <div class="sticky-container">
        <div class="row" style="display:flex; flex-direction:column; gap:10px;">
            <div>
                <label><b>Income Chart By Categories</b></label>
            </div>
            <div>
                <select id="ChartType1" class="form-control">
                    <option selected>-Select Chart Type-</option>
                    <option>pie</option>
                    <option>doughnut</option>
                </select>
            </div>
            <div>
                <input id="ID1" value="Show Graph" type="button" />
            </div>
            <canvas id="myChart1" style="max-width: 430px; max-height: 400px;"></canvas>
        </div>
    </div>

    <br />

    <div class="chart-container">
        <div class="row" style="display:flex; flex-direction:column; gap:10px">
            <div>
                <label><b>Income Chart By Month</b></label>
            </div>
            <div>
                <select id="ChartType2" class="form-control">
                    <option selected>-Select Chart Type-</option>
                    <option>bar</option>
                    <option>line</option>
                </select>
            </div>
            <div>
                <input id="ID2" value="Show Graph" type="button" />
            </div>
            <canvas id="myChart2" style="max-width: 450px; max-height: 400px;"></canvas>
        </div>
    </div>
</div>

<br />

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(function () {
        var myChart1;
        var myChart2;

        $("#ID1").click(function () {
            var chartType = $("#ChartType1").val();
            var chartView = document.getElementById('myChart1');

            if (myChart1) {
                myChart1.destroy();
            }

            $.ajax({
                type: "POST",
                url: "/Income/GetDataInCharts",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data) {
                var _chartLabels = data[0];
                var _chartData = data[1];

                var barColor = ["red", "green", "blue", "orange", "brown", "purple"];

                myChart1 = new Chart(chartView, {
                    type: chartType,
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: barColor,
                            data: _chartData
                        }]
                    }
                });
            }

            function OnError(data) {
                // Handle error here
            }
        });

        $("#ID2").click(function () {
            var chartType = $("#ChartType2").val();
            var chartView = document.getElementById('myChart2');

            if (myChart2) {
                myChart2.destroy();
            }

            $.ajax({
                type: "POST",
                url: "/Income/GetDataInChartsByMonths",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data) {
                var _chartLabels = data[0];
                var _chartData = data[1];

                var barColor = ["red", "green", "blue", "orange", "brown", "purple", "black", "gray", "yellow"];

                myChart2 = new Chart(chartView, {
                    type: chartType,
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: barColor,
                            data: _chartData
                        }]
                    }
                });
            }

            function OnError(data) {
                // Handle error here
            }
        });
    });
</script>
