@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="display:flex; flex-direction:column; justify-content:center; align-items:center;">
    <h1 class="display-4" style="padding-top: 10px; font-weight:700">Welcome to HomeBudgetApp!</h1>

    <div class="d-flex align-items-center justify-content-center" id="main">
        <img src="/photo2.jpg" height="400px" />
    </div>

    <div class="button-container">
        <a asp-controller="Expense" asp-action="GetAllExpenses" class="btn btn-primary">Expenses</a>
        <a asp-controller="Income" asp-action="GetAllIncomes" class="btn btn-primary">Incomes</a>
    </div>
</div>

<style>
    .button-container {
        margin-top: 20px;
    }
</style>

