@{
    Layout = "_Layout";
}

<p>
    <div class=row>
        <div class="col-1">
            <label><b>Chart-Type</b></label>
        </div>
        <div class="col-2">
            <select id="ChartType" class="form-control" style="width:150px;">
                <option selected>-Select Chart Type-</option>
                <option>bar</option>
                <option>line</option>
                <option>pie</option>
                <option>doughnut</option>
            </select>
        </div>
        <div class="col-4">
            <input id="ID" value="Show Graph" type="button" />
        </div>
    </div>
</p>

<br />



<canvas id="myChart" style="max-width: 400px; max-height: 430px;"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(function () {
        var myChart; // Declare the chart variable outside the click event handler

        $("#ID").click(function () {
            var chartType = $("#ChartType").val();
            var chartView = document.getElementById('myChart');

            if (myChart) {
                myChart.destroy(); // Destroy the existing chart instance
            }

            $.ajax({
                type: "POST",
                url: "/Expense/GetDataInChartsByMonths",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data) {
                var _chartLabels = data[0];
                var _chartData = data[1];

                var barColor = ["red", "green", "blue", "orange", "brown", "purple", "black", "gray", "yellow"];

                myChart = new Chart(chartView, { // Assign the new chart instance to the variable
                    type: chartType,
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: barColor,
                            data: _chartData
                        }]
                    }
                });
            }

            function OnError(data) {
                // Handle error here
            }
        });
    });
</script>