@*@{
    Layout = "_Layout";
}

<p>
    <div class=row>
        <div class="col-1">
            <label><b>Chart-Type</b></label>
        </div>
        <div class="col-2">
            <select id="ChartType" class="form-control" style="width:150px;">
                <option selected>-Select Chart Type-</option>
                <option>bar</option>
                <option>line</option>
                <option>pie</option>
                <option>doughnut</option>
            </select>
        </div>
        <div class="col-4">
            <input id="ID" value="Show Graph" type="button" />
        </div>
    </div>
</p>

<br />



<canvas id="myChart" style="max-width: 400px; max-height: 430px;"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(function () {
        var myChart; // Declare the chart variable outside the click event handler

        $("#ID").click(function () {
            var chartType = $("#ChartType").val();
            var chartView = document.getElementById('myChart');

            if (myChart) {
                myChart.destroy(); // Destroy the existing chart instance
            }

            $.ajax({
                type: "POST",
                url: "/Expense/GetDataInCharts",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data) {
                var _chartLabels = data[0];
                var _chartData = data[1];

                var barColor = ["red", "green", "blue", "orange", "brown", "purple"];

                myChart = new Chart(chartView, { // Assign the new chart instance to the variable
                    type: chartType,
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: barColor,
                            data: _chartData
                        }]
                    }
                });
            }

            function OnError(data) {
                // Handle error here
            }
        });
    });
</script>*@







@*@{
    Layout = "_Layout";
}

<p>
    <div class="row">
        <div class="col-1">
            <label><b>Chart-Type 1</b></label>
        </div>
        <div class="col-2">
            <select id="ChartType1" class="form-control" style="width:150px;">
                <option selected>-Select Chart Type-</option>
                <option>bar</option>
                <option>line</option>
                <option>pie</option>
                <option>doughnut</option>
            </select>
        </div>
        <div class="col-4">
            <input id="ID1" value="Show Graph 1" type="button" />
        </div>
    </div>
</p>

<br />

<canvas id="myChart1" style="max-width: 400px; max-height: 430px;"></canvas>

<p>
    <div class="row">
        <div class="col-1">
            <label><b>Chart-Type 2</b></label>
        </div>
        <div class="col-2">
            <select id="ChartType2" class="form-control" style="width:150px;">
                <option selected>-Select Chart Type-</option>
                <option>bar</option>
                <option>line</option>
                <option>pie</option>
                <option>doughnut</option>
            </select>
        </div>
        <div class="col-4">
            <input id="ID2" value="Show Graph 2" type="button" />
        </div>
    </div>
</p>

<br />

<canvas id="myChart2" style="max-width: 400px; max-height: 430px;"></canvas>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(function () {
        var myChart1; // Declare the first chart variable outside the click event handler
        var myChart2; // Declare the second chart variable outside the click event handler

        $("#ID1").click(function () {
            var chartType = $("#ChartType1").val();
            var chartView = document.getElementById('myChart1');

            if (myChart1) {
                myChart1.destroy(); // Destroy the existing first chart instance
            }

            $.ajax({
                type: "POST",
                url: "/Expense/GetDataInCharts",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data) {
                var _chartLabels = data[0];
                var _chartData = data[1];

                var barColor = ["red", "green", "blue", "orange", "brown", "purple"];

                myChart1 = new Chart(chartView, { // Assign the new first chart instance to the variable
                    type: chartType,
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: barColor,
                            data: _chartData
                        }]
                    }
                });
            }

            function OnError(data) {
                // Handle error here
            }
        });

        $("#ID2").click(function () {
            var chartType = $("#ChartType2").val();
            var chartView = document.getElementById('myChart2');

            if (myChart2) {
                myChart2.destroy(); // Destroy the existing second chart instance
            }

            $.ajax({
                type: "POST",
                url: "/Expense/GetDataInChartsByMonths",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data) {
                var _chartLabels = data[0];
                var _chartData = data[1];

                var barColor = ["red", "green", "blue", "orange", "brown", "purple", "black", "gray", "yellow"];

                myChart2 = new Chart(chartView, { // Assign the new second chart instance to the variable
                    type: chartType,
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: barColor,
                            data: _chartData
                        }]
                    }
                });
            }

            function OnError(data) {
                // Handle error here
            }
        });
    });
</script>*@



@{
    Layout = "_Layout";
}

<style>
    .sticky-container {
        position: sticky;
        top: 0;
        background-color: #f8f9fa;
        padding: 10px;
    }

    .chart-container {
        display: flex;
        justify-content: space-between;
    }
</style>


<div style="display: flex">

    <div class="sticky-container" style="display:block">
    <div class="row">
        <div >
            <label><b>Expense Chart By Categories</b></label>
        </div>
        <div>
            <select id="ChartType1" class="form-control">
                <option selected>-Select Chart Type-</option>
                <option>bar</option>
                <option>line</option>
                <option>pie</option>
                <option>doughnut</option>
            </select>
        </div>
        <div >
            <input id="ID1" value="Show Graph" type="button" />
        </div>
            <canvas id="myChart1" style="max-width: 400px; max-height: 430px;"></canvas>
    </div>
</div>

<br />

<div class="chart-container" style="display:block">

    <div class="row">
        <div >
            <label><b>Expense Chart By Month</b></label>
        </div>
        <div >
            <select id="ChartType2" class="form-control">
                <option selected>-Select Chart Type-</option>
                <option>bar</option>
                <option>line</option>
                <option>pie</option>
                <option>doughnut</option>
            </select>
        </div>
        <div>
            <input id="ID2" value="Show Graph" type="button" />
        </div>
<canvas id="myChart2" style="max-width: 400px; max-height: 430px;"></canvas>
    </div>
</div>
</div>
<br />


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(function () {
        var myChart1; 
        var myChart2; 

        $("#ID1").click(function () {
            var chartType = $("#ChartType1").val();
            var chartView = document.getElementById('myChart1');

            if (myChart1) {
                myChart1.destroy(); 
            }

            $.ajax({
                type: "POST",
                url: "/Expense/GetDataInCharts",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data) {
                var _chartLabels = data[0];
                var _chartData = data[1];

                var barColor = ["red", "green", "blue", "orange", "brown", "purple"];

                myChart1 = new Chart(chartView, {
                    type: chartType,
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: barColor,
                            data: _chartData
                        }]
                    }
                });
            }

            function OnError(data) {
            }
        });

        $("#ID2").click(function () {
            var chartType = $("#ChartType2").val();
            var chartView = document.getElementById('myChart2');

            if (myChart2) {
                myChart2.destroy(); 
            }

            $.ajax({
                type: "POST",
                url: "/Expense/GetDataInChartsByMonths",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data) {
                var _chartLabels = data[0];
                var _chartData = data[1];

                var barColor = ["red", "green", "blue", "orange", "brown", "purple", "black", "gray", "yellow"];

                myChart2 = new Chart(chartView, {
                    type: chartType,
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: barColor,
                            data: _chartData
                        }]
                    }
                });
            }

            function OnError(data) {
                // Handle error here
            }
        });
    });
</script>
