html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.social-links {
    display: flex;
    justify-content: center;
}

nav button:hover {
    color: gold !important;
}

.border {
    color: gold;
}


.navbar {
    margin-bottom: -20px !important;
}

.header-and-footer {
    height: 100vh;
    overflow: auto;
    width: 100%;
}

footer {
    color: white;
    position: fixed;
    bottom: 0;
    background-color: rgb(10, 10, 30);
}
