<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>@ViewData["Title"] - HomeBudgetApp.MVC.UI</title>
    <style>
        /* Custom styles */
        .social-links {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .icon-link {
            color: white;
        }

        .fa-2x {
            font-size: 3rem;
        }

        .custom-sidebar {
            width: 200px;
        }

        .sidebar .nav-link {
            color: white;
        }

            .sidebar .nav-link:hover {
                color: yellow;
            }

        /* Navigation button styles */
        .navbar-nav .nav-item {
            margin-bottom: 5px;
        }

        .navbar-nav .nav-link {
            color: white;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

            .navbar-nav .nav-link:hover {
                background-color: #0056b3;
            }

        /* Logout and user manager button styles */
        .navbar-nav .logout-form {
            display: inline-block;
            margin: 0;
        }

        .navbar-nav .logout-button {
            background-color: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
        }

        .navbar-nav .user-manager-link {
            font-size: 14px;
            color: #fff;
            text-decoration: none;
            padding: 0 10px;
            line-height: 38px;
            transition: color 0.3s;
        }

            .navbar-nav .user-manager-link:hover {
                color: yellow;
            }
    </style>
</head>
<body>
    <div class="container-fluid" style="position: fixed">
        <div class="row">
            <aside class="bg-dark text-light col-2 sidebar" style="height: 100vh; width: 200px">
                <ul class="nav flex-column" style="padding-top:25px">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Expense" asp-action="GetAllExpenses" class="nav-link">
                            <i class="fas fa-chart-bar"></i>
                            Expenses
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Income" asp-action="GetAllIncomes" class="nav-link">
                            <i class="fas fa-chart-line"></i>
                            Income
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Expense" asp-action="ShowDataInCharts" class="nav-link">
                            <i class="fas fa-chart-pie"></i>
                            Expense Indexes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Income" asp-action="ShowDataInCharts" class="nav-link">
                            <i class="fas fa-chart-pie"></i>
                            Income Indexes
                        </a>
                    </li>                 
                </ul>
            </aside>

       
            <main class="col-10">
                <div class="container mt-3 pt-4">
                    <script src="~/lib/jquery/dist/jquery.min.js"></script>
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>


    <footer class="w-100 bg-dark mt-0" style="position: fixed; bottom:0; width:100%">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-2">
                    <partial name="_LoginPartial" />
                </div>
                <div class="col-10 text-end">
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/ulugbek-toshtemirov-912b04262/" class="icon-link">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                        <a href="https://github.com/Ulugbek4499" class="icon-link">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                        <a href="https://t.me/Ulugbek_Toshtemirov" class="icon-link">
                            <i class="fab fa-telegram fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>